@import '~normalize.css';
@import 'fonts.css';

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.container {
  padding: 20px 40px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

.code {
  color: darkred;
}
